.call-to-action {
    border-bottom: 3px solid $blue;
  
    .cta-btn {
      &:hover {
        color: #00adef;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: #fff;
        transition: all 0.3s ease 0s;
      }
    }
  }